.btn,
.filled-btn,
.nav-link {
  color: var(--text-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
}

.btn:hover,
.nav-link:hover {
  background-color: #3D4045;
}

.nav-link:focus {
  outline: 2px solid var(--primary-color);
}

.filled-btn {
  background-color: var(--accent-color);
  color: var(--text-color__invert);
  min-width: 6rem;
}

.filled-btn:hover {
  background-color: #50A08E;
}

.filled-btn:focus {
  outline: 2px solid var(--accent-color__light);
}
