.nav-link {
  color: var(--text-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.nav-link:hover {
  background-color: var(--neutral-color-dark);
}

.nav-link:focus {
  outline: 2px solid var(--primary-color);
}

.btn {
  padding: 0.5rem 1rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.btn,
.btn-icon {
  display: grid;
  place-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-color: var(--neutral-bg-color);
  color: var(--text-color);
}

.btn-icon {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  line-height: 2rem;
}

.btn-icon img {
  filter: var(--svg-color-filter);
}

.btn:hover,
.btn-icon:hover {
  background-color: var(--neutral-bg-color-hover);
}

.btn:focus,
.btn-icon:focus {
  outline-offset: 2px;
  outline: var(--neutral-color) solid 2px;
}

.btn-primary {
  background-color: var(--primary-bg-color);
  color: var(--text-color-invert);
}

.btn-primary:focus {
  outline-offset: 2px;
  outline: var(--primary-color) solid 2px;
}

.btn-primary:hover {
  background-color: var(--primary-bg-color-hover);
}

.btn-secondary {
  background-color: var(--secondary-bg-color);
  color: var(--text-color-invert);
}

.btn-secondary:focus {
  outline-offset: 2px;
  outline: var(--secondary-color) solid 2px;
}

.btn-secondary:hover {
  background-color: var(--secondary-bg-color-hover);
}
