.btn,
.filled-btn,
.nav-link {
  color: var(--text-color);
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  text-align: center;
}

.btn:focus {
  outline-offset: 2px;
  outline: var(--neutral-color__light) solid 2px;
}

.btn:hover,
.nav-link:hover {
  background-color: var(--neutral-color__dark);
}

.nav-link:focus {
  outline: 2px solid var(--primary-color);
}

.filled-btn {
  background-color: var(--accent-color);
  color: var(--text-color__invert);
  min-width: 6rem;
}

.filled-btn:hover {
  background-color: #50a08e;
}

.filled-btn:focus {
  outline-offset: 2px;
  outline: var(--accent-color) solid 2px;
}
