.header {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline: 2rem;
  background-color: var(--neutral-color-100);
}

.header input {
  padding: 0.5rem;
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--neutral-color-300);
  width: 20rem;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.main-wrapper {
  display: flex;
  background-color: var(--neutral-color-100);
}

.community-header {
  display: flex;
  gap: 2rem;
}

.community-header-aside {
  min-width: 10rem;
}

.community-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  padding-inline-end: 0;
  padding-block-start: 0;
}

.main-container {
  flex: 1;
  background-color: var(--neutral-color-100);
  padding: 2rem;
  padding-block-start: 0;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0 1rem;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 20rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 10rem;
  max-width: 20rem;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.vertical-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-color-600);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

.vertical-link-icon {
  filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(0%)
    hue-rotate(68deg) brightness(95%) contrast(91%);
}

.active,
.vertical-link:hover {
  color: var(--neutral-color-100);
  background-color: var(--neutral-color-500);
}

.vertical-link:focus {
  color: var(--neutral-color-100);
  outline: 2px solid var(--neutral-color-light);
}

.vertical-link:hover .vertical-link-icon,
.vertical-link:focus .vertical-link-icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(438%)
    hue-rotate(202deg) brightness(113%) contrast(78%);
}
