<fieldset class="field">
  <label class="label-container">
    <span class="label-text">
      {{ label() }}
      @if (isRequired() && !isOptionalEnforced()) {
        <span class="required">*</span>
      } @else if (!isRequired() && isOptionalEnforced()) {
        <span class="optional">(Optional)</span>
      }
    </span>
    <div class="field-input-container">
      <div class="field-input" [class.focused]="field().isFocus()">
        <ng-content select="input, textarea, select"></ng-content>
        <ng-content select="button"></ng-content>
      </div>
      <div class="field-validation">
        @if (control().touched && control().invalid) {
          <img
            data-testid="invalid-icon"
            ngSrc="/icons/error-icon.svg"
            alt=""
            height="24"
            width="24"
          />
        } @else if (control().touched && control().valid) {
          <img
            data-testid="valid-icon"
            ngSrc="/icons/valid-icon.svg"
            alt=""
            height="24"
            width="24"
          />
        }
      </div>
    </div>
  </label>
  <div class="error-container" aria-live="assertive">
    @if (control().touched) {
      @if (control().invalid) {
        @if (!control().hasError("required")) {
          <ng-content select="app-error-message"></ng-content>
        }
        @if (control().hasError("required")) {
          <app-error-message>Required field</app-error-message>
        }
      }
    }

    @if (!control().hasError("required") && !extraErrorMessages().length) {
      <ng-content select="app-hint-message"></ng-content>
    }
  </div>
</fieldset>
