<fieldset class="field">
  <label class="label-container">
    <span class="label-text">
      {{ label() }}
      @if (isRequired()) {
        <span class="required">*</span>
      }
    </span>
    <div
      class="field-input"
      [class.focused]="field().isFocus()"
      [class.invalid]="control().touched && control().invalid"
    >
      <ng-content select="input, textarea, select"></ng-content>
      <ng-content select="button"></ng-content>
      <div class="field-validation">
        @if (control().touched && control().invalid) {
          <img ngSrc="/icons/error-icon.svg" alt="" height="24" width="24" />
        } @else if (control().touched && control().valid) {
          <img ngSrc="/icons/valid-icon.svg" alt="" height="24" width="24" />
        }
      </div>
    </div>
  </label>
  <div class="error-container" aria-live="polite">
    @if (control().touched && control().invalid) {
      <!-- avoid displaying an error related to the control format if the field is empty -->
      @if (!control().hasError("required")) {
        <ng-content select="app-error-message"></ng-content>
      }
      @if (control().hasError("required")) {
        <app-error-message>Required field</app-error-message>
      }
    }
  </div>
</fieldset>
