.field {
  all: unset;
  display: flex;
  flex-direction: column;
}

.label-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-text {
  font-size: 0.875rem;
  font-weight: 500;
}

.error-container {
  display: flex;
  flex-direction: column;
  min-height: 2rem;
}

.focused {
  outline-offset: 2px;
  outline: var(--neutral-color-300) solid 2px;
}

.field-input {
  height: 2.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--neutral-color-300);
  border-radius: var(--border-radius);
  background-color: var(--neutral-color-700);
  padding-inline-start: 1rem;
  padding-inline-end: 0.5rem;

  display: flex;
  gap: 1rem;
}

.field-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
}

.invalid {
  border-color: var(--error-color);
}

.required {
  color: var(--error-color);
}

.error-message {
  padding: 0.5rem;
  color: var(--error-color);
  line-height: 1rem;
}
