:root {
  --primary-color: #ea2bc3;
  --primary-color__dark: #971c7a;

  --accent-color: #68baa6;
  --accent-color__light: #c6fced;
  --accent-color__dark: #50a08e;

  --neutral-color__light: #828282;
  --neutral-color: #3b3b3b;
  --neutral-color__dark: #3d4045;

  --text-color: #e0e0e0;
  --text-color__invert: #181818;
  --background-color: #181818;

  --error-color: #ff0f0f;
  --success-color: #00ff00;
}
