:root {
  --primary-hue: 312;
  --primary-saturation: 50%;
  --primary-color-100: hsl(var(--primary-hue) var(--primary-saturation) 94%);
  --primary-color-200: hsl(var(--primary-hue) var(--primary-saturation) 84%);
  --primary-color-300: hsl(var(--primary-hue) var(--primary-saturation) 74%);
  --primary-color-400: hsl(var(--primary-hue) var(--primary-saturation) 64%);
  --primary-color-500: hsl(
    var(--primary-hue) var(--primary-saturation) 54%
  ); /* Base color */

  --primary-color-600: hsl(var(--primary-hue) var(--primary-saturation) 44%);
  --primary-color-700: hsl(var(--primary-hue) var(--primary-saturation) 34%);
  --primary-color-800: hsl(var(--primary-hue) var(--primary-saturation) 24%);
  --primary-color-900: hsl(var(--primary-hue) var(--primary-saturation) 14%);
  --primary-color: var(--primary-color-500);
  --primary-bg-color: var(--primary-color-500);
  --primary-bg-color-hover: var(--primary-color-600);
  --secondary-hue: 168;
  --secondary-saturation: 80%;
  --secondary-color-100: hsl(
    var(--secondary-hue) var(--secondary-saturation) 94%
  );
  --secondary-color-200: hsl(
    var(--secondary-hue) var(--secondary-saturation) 84%
  );
  --secondary-color-300: hsl(
    var(--secondary-hue) var(--secondary-saturation) 74%
  );
  --secondary-color-400: hsl(
    var(--secondary-hue) var(--secondary-saturation) 64%
  );
  --secondary-color-500: hsl(
    var(--secondary-hue) var(--secondary-saturation) 54%
  ); /* Base color */

  --secondary-color-600: hsl(
    var(--secondary-hue) var(--secondary-saturation) 44%
  );
  --secondary-color-700: hsl(
    var(--secondary-hue) var(--secondary-saturation) 34%
  );
  --secondary-color-800: hsl(
    var(--secondary-hue) var(--secondary-saturation) 24%
  );
  --secondary-color-900: hsl(
    var(--secondary-hue) var(--secondary-saturation) 14%
  );
  --secondary-color: var(--secondary-color-500);
  --secondary-bg-color: var(--secondary-color-500);
  --secondary-bg-color-hover: var(--secondary-color-600);
  --neutral-hue: 0;
  --neutral-saturation: 0%;
  --neutral-color-100: hsl(var(--neutral-hue) var(--neutral-saturation) 96%);
  --neutral-color-200: hsl(var(--neutral-hue) var(--neutral-saturation) 87%);
  --neutral-color-300: hsl(var(--neutral-hue) var(--neutral-saturation) 76%);
  --neutral-color-400: hsl(var(--neutral-hue) var(--neutral-saturation) 65%);
  --neutral-color-500: hsl(var(--neutral-hue) var(--neutral-saturation) 54%);
  --neutral-color-600: hsl(var(--neutral-hue) var(--neutral-saturation) 43%);
  --neutral-color-700: hsl(var(--neutral-hue) var(--neutral-saturation) 32%);
  --neutral-color-800: hsl(var(--neutral-hue) var(--neutral-saturation) 21%);
  --neutral-color-900: hsl(var(--neutral-hue) var(--neutral-saturation) 10%);
  --neutral-color: var(--neutral-color-500);
  --neutral-bg-color: var(--neutral-color-600);
  --neutral-bg-color-hover: var(--neutral-color-700);
  --text-color: #e0e0e0;
  --text-color-invert: #181818;
  --background-color: #181818;
  --error-color: #cf6679;
  --success-color: #0f0;
  --svg-color-filter: brightness(0) saturate(100%) invert(0%) sepia(3%)
    saturate(2922%) hue-rotate(316deg) brightness(98%) contrast(81%);
}
