<header class="header">
  <a class="logo" routerLink="/" aria-label="RealWorld Angular home page">
    <img
      class="static-logo"
      ngSrc="/light-logo.svg"
      height="55"
      width="185"
      alt=""
    />
    <img
      class="animated-logo"
      ngSrc="/light-logo.gif"
      height="55"
      width="185"
      alt=""
    />
  </a>
  <nav class="nav-container" aria-label="Main Navigation">
    <ul class="nav-list">
      <li>
        <a class="nav-link" routerLink="/about" routerLinkActive="active-link"
          >About</a
        >
      </li>
    </ul>
  </nav>
  <div class="auth-buttons">
    <button type="button" class="btn btn-primary">Log in</button>
    <button type="button" class="btn btn-outlined">Sign up</button>
  </div>
</header>
