/* You can add global styles to this file, and also import other style files */
@import url("./styles/reset.css");
@import url("./styles/components/buttons.css");
@import url("./styles/components/form.css");
@import url("./styles/tokens/colors.css");
@import url("./styles/tokens/shapes.css");

body {
  font-family: Inter, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
