/* You can add global styles to this file, and also import other style files */
@import "./styles/reset.css";

@import "./styles/components/buttons.css";
@import "./styles/components/form.css";

@import "./styles/tokens/colors.css";
@import "./styles/tokens/shapes.css";

body {
  color: var(--text-color);
  background-color: var(--background-color);
  font-family: Inter, sans-serif;
}
